################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TDLib/.vs/TDLib
/TDLib/obj/Debug
/TDLib/obj/Release
/GettingTheKeys.pub
